.details-outer {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.details-con {
  background-color: #231c6b;
  border: white solid 3px;
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 5px;
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  box-shadow: #ff4f8b 8px 8px 0;
}

.details-con .movie-title {
  color: white;
  font-size: 1.5vw;
  margin: 0;
  font-weight: bold;
}

.details-content {
  display: flex;
  gap: 1vw;
  width: 100%;
  color: #8985b9;
}

.details-content span {
  color: white;
}

.movie-img-con {
  width: 30%;
  border: 2px solid white;
  border-radius: 5px;
  height: max-content;
  margin: auto 0;
  flex-shrink: 0;
}

.movie-img-con img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.close-btn-con button {
  background-color: #231c6b;
  color: white;
  font-weight: 500;
  padding: 0.2vw 1vw;
  border: white 2px solid;
  border-radius: 50px;
  cursor: pointer;
}
