.delete-modal-outer {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.delete-modal-con {
  background-color: #231c6b;
  border: white solid 3px;
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 5px;
  width: 40%;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  box-shadow: #ff4f8b 8px 8px 0;
}

.delete-modal-con .movie-title {
  color: white;
  font-size: 1.5vw;
  margin: 0;
  font-weight: bold;
}

.details-content {
  display: flex;
  gap: 1vw;
  width: 100%;
  color: #8985b9;
}

.details-content span {
  color: white;
}

.close-delete-btn-con {
  display: flex;
  gap: 0.5vw;
}

.close-delete-btn-con button {
  padding: 0.2vw 1vw;
  border: white 2px solid;
  border-radius: 50px;
  color: white;
  background-color: #231c6b;
  cursor: pointer;
}

.close-delete-btn-con .delete {
  background-color: #e5304f;
}
